@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Binggrae";
  src: url("font/Binggrae.eot");
  src: url("font/Binggrae.eot?#iefix") format("embedded-opentype"), url("font/Binggrae.woff2") format("woff2"), url("font/Binggrae.woff") format("woff"), url("font/Binggrae.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Binggrae-bold";
  src: url("font/Binggrae-Bold.eot");
  src: url("font/Binggrae-Bold.eot?#iefix") format("embedded-opentype"), url("font/Binggrae-Bold.woff2") format("woff2"), url("font/Binggrae-Bold.woff") format("woff"), url("font/Binggrae-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #1f1f1f;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.09em;
  line-height: 1;
}

/* 공통요소 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner01 {
  position: relative;
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
}

.inner02 {
  position: relative;
  width: 1310px;
  margin: 0 auto;
}

.prev-btn {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("../images/prev_arrow.png") no-repeat;
  width: 7px;
  height: 15px;
  border: none;
  opacity: 0.1;
  cursor: pointer;
}

.next-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("../images/next_arrow.png") no-repeat;
  width: 8px;
  height: 15px;
  border: none;
  opacity: 1;
  cursor: pointer;
}

/* 레이아웃 */
.wrap {
  position: relative;
  display: block;
}

/* 타이틀 레이아웃 */
.section-title {
  font-family: "Binggrae-Bold", sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.45;
  letter-spacing: -1.9px;
}

/* fix */
.fix-menu {
  position: fixed;
  bottom: 58px;
  right: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}
.fix-menu .fix-char {
  position: relative;
}
.fix-menu .fix-char > img {
  -webkit-animation: move 2s infinite ease-in-out;
          animation: move 2s infinite ease-in-out;
}
.fix-menu .fix-char > p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 82px;
  display: none;
  width: 160px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  font-weight: 700;
  border-radius: 22.5px;
  box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
}
.fix-menu .fix-btn {
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  text-align: center;
  background: #000;
}
.fix-menu .fix-btn.not-active {
  background: #000 url("../images/fix_arrow.png") no-repeat;
  background-position: center;
  transform: rotate(180deg);
}
.fix-menu .fix-btn.active {
  background: #000 url("../images/fix_arrow.png") no-repeat;
  background-position: center;
}
.fix-menu .fix-btn.shop {
  margin: 10px auto 5px 10px;
  background: #fff;
  letter-spacing: normal;
  box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.06), inset 0px 5px 10px 0 rgba(255, 255, 255, 0.14);
  font-weight: 500;
}

@-webkit-keyframes move {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes move {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}
/* 상단 */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.header-wrap {
  position: relative;
  display: block;
  width: 100%;
}
.header-wrap::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: -580px;
  width: 100%;
  height: 580px;
  border-radius: 0 0 50px 50px;
  background: #fff;
}
.header-wrap:hover .depth2 {
  visibility: visible !important;
  opacity: 1 !important;
  transition: all 0.8s 0.5s;
}
.header-wrap .header-top {
  position: relative;
  display: block;
  width: 100%;
  height: 30px;
  text-align: right;
  padding: 0 80px;
  border-bottom: 1px solid #e7e7e7;
}
.header-wrap .header-top a {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  margin-left: 10px;
}
.header-wrap .header-top a img {
  margin-left: 5px;
}
.header-wrap .header-main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 115px;
  border-bottom: 1px solid #e7e7e7;
  padding: 40px 80px;
}
.header-wrap .header-main .nav {
  position: relative;
  margin: 0 auto;
  height: 115px;
}
.header-wrap .header-main .nav .gnb {
  position: relative;
  display: block;
}
.header-wrap .header-main .nav .gnb .depth1 {
  position: relative;
  float: left;
  text-align: left;
  padding-right: 80px;
}
.header-wrap .header-main .nav .gnb .depth1:hover > a {
  color: #e0462e;
}
.header-wrap .header-main .nav .gnb .depth1:hover > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: #e0462e;
  width: 100%;
  height: 2px;
}
.header-wrap .header-main .nav .gnb .depth1:hover > a span::before {
  content: "";
  position: absolute;
  right: -10px;
  top: calc(50% - 10px);
  background: #e0462e;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.header-wrap .header-main .nav .gnb .depth1 > a {
  position: relative;
  padding-bottom: 48px;
}
.header-wrap .header-main .nav .gnb .depth1 > a span {
  position: relative;
  line-height: 115px;
  font-size: 20px;
}
.header-wrap .header-main .nav .gnb .depth1 .depth2 {
  position: absolute;
  display: block;
  visibility: hidden;
  opacity: 0;
  width: 100%;
}
.header-wrap .header-main .nav .gnb .depth1 .depth2 li {
  padding: 0 50px 0 0;
}
.header-wrap .header-main .nav .gnb .depth1 .depth2 li a {
  position: relative;
  display: block;
  font-size: 18px;
  color: #1f1f1f;
  padding: 22px 0 0 0;
  white-space: nowrap;
}
.header-wrap .header-main .nav .gnb .depth1 .depth2 li a span {
  display: block;
  position: relative;
}
.header-wrap .header-main .nav .gnb .depth1 .depth2 li a:hover {
  color: #e0462e;
}
.header-wrap .header-main .nav .gnb .depth1 .depth2 li a:hover span::before {
  content: "";
  position: absolute;
  right: -6px;
  top: 50%;
  transform: translateY(calc(-50% - 7px));
  background: #e0462e;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: block;
}
.header-wrap .header-main .header-help {
  display: flex;
}
.header-wrap .header-main .header-help .header-lang {
  position: relative;
  padding-top: 5px;
  margin-right: 40px;
}
.header-wrap .header-main .header-help .header-lang .header-language-text {
  font-weight: bold;
  font-size: 16px;
  color: #1f1f1f;
  cursor: pointer;
}
.header-wrap .header-main .header-help .header-lang .header-language-text img {
  margin-left: 10px;
}
.header-wrap .header-main .header-help .header-lang .header-list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 0;
  box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.05);
}
.header-wrap .header-main .header-help .header-lang .header-list li {
  padding: 0px 13px;
}
.header-wrap .header-main .header-help .header-lang .header-list li a {
  display: block;
  font-weight: bold;
  font-size: 16px;
  color: #1f1f1f;
  padding: 5px 0;
}
.header-wrap .header-main .header-help .hamberger {
  position: relative;
  width: 26px;
  height: 22px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.header-wrap .header-main .header-help .hamberger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
}
.header-wrap .header-main .header-help .hamberger span:nth-child(1) {
  top: 0;
}
.header-wrap .header-main .header-help .hamberger span:nth-child(2) {
  top: calc(50% - 1px);
}
.header-wrap .header-main .header-help .hamberger span:nth-child(3) {
  bottom: 0;
}

/* 비주얼 */
.visual {
  position: relative;
  display: block;
  background: url("../images/pc_section01_3.jpg") no-repeat;
  background-size: cover;
  padding: 180px 0;
}
.visual .visual-bg {
  position: relative;
  display: block;
  text-align: center;
}
.visual .visual-bg .pc-visual {
  position: relative;
  width: 100%;
  max-width: 1320px;
  height: auto;
}
.visual .visual-bg .mb-visual {
  display: none;
}
.visual .serch-box {
  position: relative;
  width: 80%;
  max-width: 1020px;
  height: 80px;
  border-radius: 40px;
  box-shadow: 0px 5px 24.3px 2.7px rgba(0, 0, 0, 0.09);
  background-color: #fff;
  margin: 40px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.visual .serch-box .search-form {
  width: 100%;
  padding: 0 15px 0 55px;
  height: 100%;
}
.visual .serch-box .search-form .search-txt {
  width: 78%;
  height: 100%;
  padding-left: 30px;
  font-family: inherit;
  font-size: 17px;
  line-height: 80px;
  letter-spacing: -0.85px;
  text-align: left;
  outline-style: none;
  background: url("../images/search_icon.png") no-repeat center left;
  border: 0;
}
.visual .serch-box .visual-search {
  cursor: pointer;
  width: 22%;
  height: 55px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: normal;
  font-family: Poppins;
  border-radius: 27.5px;
  box-shadow: inset 0px 5px 10px 0 rgba(53, 53, 53, 0.11);
  background-image: linear-gradient(to top, #ed1c24, #e0462e);
  outline-style: none;
  border: 0;
  margin-right: 20px;
}

.keyword-box {
  display: flex;
  margin-top: 25px;
  justify-content: center;
  gap: 0 5px;
}
.keyword-box li {
  position: relative;
  font-family: Binggrae;
  height: 37px;
  border-radius: 18.5px;
  /* box-shadow: 0px 2px 9.8px 0.2px rgb(0 0 0 / 8%); */
  border: solid 1px #ebeaec;
  letter-spacing: normal;
  font-weight: normal;
  padding: 0 20px;
  text-align: center;
}
.keyword-box li a {
  display: inline-block;
  font-size: 12px;
  line-height: 37px;
  letter-spacing: normal;
  font-weight: normal;
  color: #000;
  white-space: nowrap;
}

@media screen and (max-width: 1650px) {
  .visual {
    height: 58.42vw;
  }
}
@media screen and (max-width: 1020px) {
  .visual-bg .pc-visual {
    display: none !important;
  }
  .visual-bg .mb-visual {
    display: block !important;
    width: 600px !important;
    height: 183px !important;
    line-height: 25px !important;
    margin: 0 auto !important;
    background: url("../images/m_sec01_logo_3.png") no-repeat !important;
    background-size: cover !important;
    text-align: center !important;
  }
  .serch-box {
    width: 80% !important;
  }
  .serch-box .search-form {
    width: 80% !important;
    padding: 0 15px 0 24px !important;
  }
  .serch-box .search-form .search-txt {
    font-size: 15px;
  }
  .serch-box .visual-search {
    cursor: pointer;
    width: 20% !important;
    height: 39px !important;
  }
  .keyword-box {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    gap: 0 5px;
  }
  .keyword-box li {
    position: relative;
    font-family: Binggrae;
    height: 37px;
    border-radius: 18.5px;
    /* box-shadow: 0px 2px 9.8px 0.2px rgb(0 0 0 / 8%); */
    border: solid 1px #ebeaec;
    letter-spacing: normal;
    font-weight: normal;
    padding: 0 20px;
    text-align: center;
  }
  .keyword-box li a {
    display: inline-block;
    font-size: 12px;
    line-height: 37px;
    letter-spacing: normal;
    font-weight: normal;
    color: #000;
    white-space: nowrap;
  }
}
@media screen and (max-width: 767px) {
  .visual {
    padding: 100px 0 60px;
  }
  .visual-bg .mb-visual {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
  }
  .serch-box {
    width: 80% !important;
    height: 20% !important;
  }
  .serch-box .search-form {
    width: 80% !important;
    padding: 0 15px 0 24px !important;
  }
  .serch-box .search-form .search-txt {
    font-size: 11px !important;
  }
  .serch-box .visual-search {
    cursor: pointer;
    font-size: 11px !important;
    width: 19% !important;
    height: 60% !important;
  }
}
@media screen and (max-width: 620px) {
  .serch-box {
    width: 70% !important;
    height: 20% !important;
  }
  .serch-box .search-form {
    width: 80% !important;
    padding: 0 15px 0 24px !important;
  }
  .serch-box .search-form .search-txt {
    font-size: 11px !important;
  }
  .serch-box .visual-search {
    cursor: pointer;
    font-size: 11px !important;
    width: 19% !important;
    height: 60% !important;
  }
  .visual-search {
    font-size: 9px !important;
    width: 10% !important;
    height: 40% !important;
  }
  .keyword-box {
    width: 100%;
  }
  .keyword-box li {
    height: 30px;
    padding: 0 10px;
    text-align: center;
  }
  .keyword-box li a {
    display: inline-block;
    font-size: 10px;
    line-height: 30px;
  }
}
@media screen and (max-width: 500px) {
  .visual {
    padding: 50px 0 50px;
  }
  .visual-search {
    font-size: 4px !important;
    width: 20% !important;
    height: 20% !important;
  }
  .keyword-box {
    width: 100%;
    gap: 2px;
    margin-top: 15px;
    margin-left: 7px !important;
  }
  li {
    font-size: 10px;
    height: 30px;
    padding: 0 10px;
  }
}
/* 상품 */
.products-inner {
  margin-bottom: 170px;
}
.section-title {
  text-align: center;
  margin-bottom: 40px;
}

.goods-wrap {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}
.goods-box {
  display: block;
  width: 16.6666666667%;
  text-align: center;
  transition: transform 1s;
}
.goods-box:hover {
  transform: translateY(-10px);
}
.goods-box:hover > .goods-type-hover {
  display: inline-block;
}
.goods-box:hover > .goods-type {
  display: none;
}
.goods-img {
  width: 100%;
  max-width: 242px;
  margin-bottom: 12px;
  cursor: auto;
}

.goods-type {
  display: inline-block;
  width: 100%;
  max-width: 242px;
  height: 43px;
  font-size: 16px;
  letter-spacing: -0.09em;
  line-height: 43px;
  text-align: center;
  background: #f9f9f9;
  border-radius: 21px;
}

.goods-type-hover {
  display: none;
  width: 100%;
  max-width: 242px;
  height: 43px;
  font-size: 16px;
  letter-spacing: -0.09em;
  line-height: 43px;
  text-align: center;
  border-radius: 21px;
  background-image: linear-gradient(to top, #ed1c24, #e0462e);
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.03);
  color: #fff;
}

@media screen and (max-width: 1700px) {
  .goods-wrap {
    width: 95%;
    margin: 0 auto;
  }
  .goods-img,
.goods-type {
    width: 95%;
  }
}
@media screen and (max-width: 1399px) {
  .goods-img,
.goods-type {
    width: 93%;
    max-width: 232px;
  }
  .goods-box {
    width: 20%;
  }
  .goods-box:last-child {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .goods-img,
.goods-type {
    width: 91%;
    max-width: 160px;
  }
  .goods-box {
    width: 16.6666666667%;
  }
  .goods-box:last-child {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .prev-btn,
.next-btn {
    display: none;
  }
  .products-inner {
    margin-bottom: 0px;
  }
  .goods-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0;
    grid-template-areas: "icecream milk juice" "banana coffee apple";
  }
  .goods-box {
    width: 100%;
  }
  .goods-type {
    background: transparent;
  }
  .goods-box:nth-of-type(1) {
    grid-area: icecream;
  }
  .goods-box:nth-of-type(2) {
    grid-area: banana;
  }
  .goods-box:nth-of-type(3) {
    grid-area: milk;
  }
  .goods-box:nth-of-type(4) {
    grid-area: coffee;
  }
  .goods-box:nth-of-type(5) {
    grid-area: juice;
  }
  .goods-box:nth-of-type(6) {
    grid-area: apple;
  }
  .goods-img,
.goods-type {
    width: 97%;
    max-width: 235px;
  }
}
/* 브랜드샵 */
.brand-inner {
  margin-bottom: 170px;
}
.brand-inner .section-title {
  text-align: center;
  margin-bottom: 40px;
}

.box-wrap {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 40px;
}
.box-wrap .prev-btn {
  top: 55%;
}
.box-wrap .next-btn {
  top: 55%;
}
.box-wrap li {
  position: relative;
  width: 16.6666666667%;
  max-width: 260px;
  height: 250px;
}
.box-wrap li:hover > .brand-box {
  opacity: 0;
  transform: translateY(-10px);
}
.box-wrap li:hover > .hover-box {
  opacity: 1;
  transform: translateY(-10px);
}
.box-wrap li:hover > .hover-box > .hover-img {
  transform: scale(0.8) translateY(0);
  opacity: 1;
  transition: all 0.7s;
}
.box-wrap li:hover > .hover-box > .hover-txt {
  transform: translateY(0px);
  opacity: 1;
  display: block;
  transition: all 0.7s;
}
.box-wrap li:hover > .hover-box > .hover-btn {
  display: block;
}
.brand-box {
  position: relative;
  display: block;
  width: 100%;
  max-width: 242px;
  height: 100%;
  border: 1px solid #edecef;
  border-radius: 30px;
  margin: 0 8px;
  opacity: 1;
  cursor: auto;
  transition: transform 1s ease;
}
.brand-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  transform: translate(-50%, -50%);
}

.brand-logo-mo {
  position: absolute;
  left: 50%;
  top: 50%;
  display: none;
  transform: translate(-50%, -50%);
}

.hover-box {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  max-width: 242px;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  margin: 0 8px;
  box-shadow: 0px 5px 24.3px 2.7px rgba(0, 0, 0, 0.09);
  opacity: 0;
  cursor: auto;
  transition: all 1s;
  overflow-y: hidden;
}
.hover-img {
  transform: scale(0.8) translateY(60px);
  opacity: 0;
}

.hover-txt {
  position: relative;
  width: 100%;
  max-width: 242px;
  height: 50%;
  font-size: 16px;
  letter-spacing: -1.44px;
  line-height: 1.38;
  text-align: center;
  transform: translateY(50px);
  opacity: 0;
  cursor: default;
}
.hover-txt::before {
  content: "";
  position: relative;
  display: block;
  width: 20px;
  height: 1px;
  margin: 18px auto;
  background: rgba(0, 0, 0, 0.2);
}

.hover-btn {
  position: absolute;
  bottom: 10px;
  display: none;
  width: 90%;
  height: 43px;
  border: none;
  border-radius: 21px;
  color: #fff;
  cursor: pointer;
  box-shadow: inset 0px 5px 10px 0 rgba(53, 53, 53, 0.11);
  background-image: linear-gradient(to top, #ed1c24, #e0462e);
}

@media screen and (max-width: 1700px) {
  .box-wrap {
    width: 95%;
    margin: 0 auto;
  }
  .brand-box,
.hover-box {
    width: 95%;
  }
}
@media screen and (max-width: 1400px) {
  .brand-logo,
.hover-img {
    width: 90px;
  }
}
@media screen and (max-width: 1399px) {
  .box-wrap li {
    width: 20%;
  }
  .box-wrap li:last-child {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .box-wrap li {
    width: 25%;
  }
  .box-wrap li:nth-of-type(5) {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .box-wrap li:last-child,
.box-wrap li:nth-of-type(5) {
    display: block;
  }
  .box-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0px;
  }
  .box-wrap li {
    width: 100%;
    padding: 10px 0;
  }
  .brand-logo {
    display: none;
  }
  .brand-logo-mo {
    display: block;
  }
}
/* 고객문의 및 불편사항 */
.cs {
  position: relative;
  display: block;
}

.qna-box-wrap .qna-box {
  max-width: 1310px;
  height: 100%;
  padding: 65px 45px;
  border-radius: 30px;
  margin: 0 auto;
  margin-bottom: 135px;
  box-shadow: 0px 5px 24.3px 2.7px rgba(0, 0, 0, 0.09);
}
.qna-box-wrap .qna-box .qna-top .emali {
  position: relative;
  display: block;
  width: 48.5%;
  height: 325px;
  padding: 55px 45px;
  margin-top: 30px;
  float: left;
  background: #eef8fa url("../images/sec04_backimg01.png") center no-repeat;
  background-size: contain;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
}
.qna-box-wrap .qna-box .qna-top .emali > h4 {
  font-family: "Binggrae-Bold", sans-serif;
  font-size: 32px;
  text-align: left;
  margin-bottom: 40px;
  padding-bottom: 32px;
}
.qna-box-wrap .qna-box .qna-top .emali > p {
  font-size: 16px;
  line-height: 1.63;
}
.qna-box-wrap .qna-box .qna-top .emali > p .br {
  display: none;
}
.qna-box-wrap .qna-box .qna-top .emali > a {
  display: block;
  width: 160px;
  height: 43px;
  color: #fff;
  font-size: 14px;
  line-height: 43px;
  text-align: center;
  border-radius: 20px;
  background: #ed1c24;
  position: absolute;
  bottom: 55px;
  background: #ed1c24;
}
.qna-box-wrap .qna-box .qna-top .phon {
  font-family: "Binggrae-bold";
  width: 48.5%;
  height: 325px;
  background-color: red;
  padding: 55px 45px;
  margin-top: 30px;
  background: #fdf3f2 url("../images/sec04_backimg02.png") center no-repeat;
  background-size: contain;
  float: right;
  border-radius: 30px;
  overflow: hidden;
}
.qna-box-wrap .qna-box .qna-top .phon > h4 {
  font-family: "Binggrae-Bold", sans-serif;
  font-size: 32px;
  padding-bottom: 32px;
}
.qna-box-wrap .qna-box .qna-top .phon .p-n {
  display: block;
  font-family: "Binggrae-Bold", sans-serif;
  font-size: 46.5px;
  padding-bottom: 30px;
}
.qna-box-wrap .qna-box .qna-top .phon .month {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.qna-box-wrap .qna-box .qna-top .phon .time {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-left: 15px;
  padding-top: 25px;
  color: #e0462e;
}
.qna-box-wrap .qna-box .qna-bottom .flex-box {
  display: flex;
  justify-content: space-between;
  padding: 47px 0 27px 0;
}
.qna-box-wrap .qna-box .qna-bottom .flex-box > span {
  font-family: "Binggrae-Bold", sans-serif;
  font-size: 23px;
  line-height: 43px;
}
.qna-box-wrap .qna-box .qna-bottom .flex-box .qna-more-bt {
  width: 160px;
  height: 43px;
  background: #fff;
  border: 1px solid #edecef;
  border-radius: 20px;
}
.qna-box-wrap .qna-box .qna-bottom .flex-box .qna-more-bt:hover {
  background: #ed1c24;
  color: #fff;
  cursor: pointer;
}
.qna-list {
  position: relative;
}
.qna-list > li {
  position: relative;
  width: 48%;
  height: 80px;
  background: yellow;
  padding: 0px 20px;
  margin-bottom: 10px;
  border-radius: 30px;
  background-color: #f9f9f9;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
  cursor: pointer;
}
.qna-list > li:nth-child(2n-1) {
  float: left;
}
.qna-list > li:nth-child(2n) {
  float: right;
}
.qna-list > li:nth-child(5) {
  margin: 0;
}
.qna-list > li:nth-child(6) {
  margin: 0;
}
.qna-list > li > a {
  font-size: 18px;
  line-height: 80px;
}
.qna-list > li > a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%) scale(0);
  transition: transform 0.5s;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(../images/link_arrow01.png);
  background-repeat: no-repeat;
  background-color: #ed1c24;
  background-position: center;
}
.qna-list > li:hover a {
  font-weight: bold;
}
.qna-list > li:hover a::after {
  transform: translateY(-50%) scale(1);
}

@media screen and (max-width: 1400px) {
  .qna-box {
    width: 95% !important;
  }
  .qna-list > li {
    height: 65px !important;
  }
  .qna-list > li > a {
    font-size: 16px;
    line-height: 60px !important;
  }
}
@media screen and (max-width: 1270px) {
  .qna-list > li {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
}
@media screen and (max-width: 1020px) {
  .emali {
    height: 260px !important;
    padding: 30px !important;
    margin-top: 30px !important;
  }
  .emali > h4 {
    font-size: 28px !important;
    padding-bottom: 20px !important;
    margin-bottom: 0 !important;
  }
  .emali > p {
    font-size: 14px !important;
    line-height: 1.63 !important;
  }
  .emali > p .br {
    display: block !important;
  }
  .emali > a {
    position: absolute !important;
    bottom: 30px !important;
    background: #ed1c24 !important;
  }
  .phon {
    height: 260px !important;
    padding: 30px !important;
    margin-top: 30px !important;
  }
  .phon > h4 {
    font-size: 28px !important;
    padding-bottom: 20px !important;
    margin-bottom: 0 !important;
  }
  .phon .p-n {
    font-size: 38.5px !important;
  }
}
@media screen and (max-width: 768px) {
  .section-title {
    font-size: 22px !important;
  }
  .qna-box-wrap .qna-box {
    margin: 0 auto;
    padding: 31px 14px !important;
    box-shadow: none !important;
    border: solid 1px rgba(224, 223, 226, 0.6) !important;
    background-color: #fff !important;
  }
  .qna-box-wrap .qna-box .emali {
    width: 100% !important;
    height: 125px !important;
    margin-top: 0px !important;
    border-radius: 15px !important;
    background: #eef8fa url("../images/sec04_backimg01.png") right no-repeat !important;
    background-position: center !important;
  }
  .qna-box-wrap .qna-box .emali > h4 {
    font-size: 18px !important;
    padding: 0 !important;
    margin-bottom: 10px !important;
  }
  .qna-box-wrap .qna-box .emali > p > span {
    display: none !important;
  }
  .qna-box-wrap .qna-box .emali .r-b {
    display: none !important;
  }
  .qna-box-wrap .qna-box .phon {
    width: 100% !important;
    height: 125px !important;
    border-radius: 15px !important;
    background: #fdf3f2 url("../images/sec04_backimg02.png") right no-repeat !important;
    background-position: center !important;
  }
  .qna-box-wrap .qna-box .phon > h4 {
    font-size: 18px !important;
    padding: 0 !important;
    margin-bottom: 10px !important;
  }
  .qna-box-wrap .qna-box .phon .p-n {
    font-size: 18px !important;
    padding: 0px !important;
    margin-bottom: 10px !important;
  }
  .qna-box-wrap .qna-box .phon .month {
    font-size: 16px !important;
  }
  .qna-box-wrap .qna-box .phon .time {
    padding-top: 10px !important;
  }
  .qna-box-wrap .qna-box .qna-bottom .flex-box {
    align-items: center;
  }
  .qna-box-wrap .qna-box .qna-bottom .flex-box > span {
    font-size: 18px !important;
    line-height: 25px !important;
    margin-right: 10px !important;
  }
  .qna-box-wrap .qna-box .qna-bottom .flex-box .qna-more-bt {
    width: 115px !important;
    height: 30px !important;
    border-radius: 15px !important;
  }
  .qna-box-wrap .qna-box .qna-bottom .qna-list {
    position: relative;
  }
  .qna-box-wrap .qna-box .qna-bottom .qna-list > li {
    height: 47px !important;
  }
  .qna-box-wrap .qna-box .qna-bottom .qna-list > li::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 12px;
    background-image: url(../images/m_link_arrow01.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .qna-box-wrap .qna-box .qna-bottom .qna-list > li > a {
    font-size: 14px !important;
    line-height: 47px !important;
  }
  .qna-box-wrap .qna-box .qna-bottom .qna-list > li > a::after {
    width: 0px !important;
    height: 0px !important;
  }
}
/* 온라인제보 */
h3 {
  text-align: center;
  margin-bottom: 40px;
}

.report-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1310px;
  margin: 0 auto;
  padding-bottom: 140px;
}
.report-wrap .cyber {
  position: relative;
  width: 48%;
  height: 230px;
  background: #f9f9f9;
  padding: 78px 25px 58px 25px;
  border-radius: 30px;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
  cursor: pointer;
}
.report-wrap .cyber > p {
  font-size: 20px;
  text-align: center;
}
.report-wrap .cyber > a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  display: block;
  width: 160px;
  height: 43px;
  color: #fff;
  font-size: 14px;
  line-height: 43px;
  text-align: center;
  border-radius: 20px;
  background: #ed1c24;
}
.report-wrap .safe {
  position: relative;
  width: 48%;
  height: 230px;
  background: #f9f9f9;
  padding: 78px 25px 58px 25px;
  border-radius: 30px;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
  cursor: pointer;
}
.report-wrap .safe > p {
  font-size: 20px;
  text-align: center;
}
.report-wrap .safe > a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  display: block;
  width: 160px;
  height: 43px;
  color: #fff;
  font-size: 14px;
  line-height: 43px;
  text-align: center;
  border-radius: 20px;
  background: #ed1c24;
}

@media screen and (max-width: 1400px) {
  .report-wrap {
    width: 95%;
  }
}
@media screen and (max-width: 1270px) {
  .cyber > p {
    font-size: 16px !important;
  }
  .safe > p {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 1020px) {
  .cyber > a {
    bottom: 30px !important;
  }
  .safe > a {
    bottom: 30px !important;
  }
}
@media screen and (max-width: 768px) {
  .report-wrap {
    flex-wrap: wrap !important;
    padding-bottom: 80px !important;
  }
  .report-wrap .cyber {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .report-wrap .safe {
    width: 100% !important;
  }
}
/* 하단 */
.footer {
  position: relative;
  display: block;
  width: 100%;
  height: 387px;
  background: rgba(0, 0, 0, 0.99);
  margin: 0 auto;
  padding: 40px 50px 30px;
}
.footer .footer-1 {
  position: relative;
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: space-between;
}
.footer .footer-1 .f-logo {
  width: 113px;
  height: 30px;
  background: url("../images/f_logo.png") no-repeat;
}
.footer .footer-1 .f-right {
  position: relative;
  display: flex;
  gap: 0 10px;
}
.footer .footer-1 .f-right li {
  height: 30px;
}
.footer .footer-1 .f-right li a {
  line-height: 30px;
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #5a5958;
  font-style: normal;
}
.footer .footer-2 {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 217px;
  padding: 30px 0 115px;
}
.footer .footer-2 ul li {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  width: 600px;
  height: 48px;
  line-height: 24px;
  box-sizing: border-box;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.7);
}
.footer .footer-2 ul li .subject {
  position: relative;
  width: 50.2px;
  height: 31px;
}
.footer .footer-2 ul li .con {
  box-sizing: border-box;
  font-style: normal;
  position: relative;
  width: 42.34px;
  height: 41px;
  padding-top: 10px;
}
.footer .footer-3 {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  margin: 0 auto;
}
.footer .footer-3 .copyright {
  font-size: 14px;
  line-height: 70px;
  color: rgba(255, 255, 255, 0.5);
}
.footer .footer-3 .f-3-right {
  position: relative;
  display: flex;
}
.footer .footer-3 .f-3-right .fo-3-box1 {
  position: relative;
  display: flex;
}
.footer .footer-3 .f-3-right .fo-3-box1 ul {
  position: relative;
  display: flex;
  width: 240px;
  height: 70px;
  gap: 0 15px;
}
.footer .footer-3 .f-3-right .fo-3-box1 ul li {
  width: 70px;
  height: 70px;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.36), inset 0px 4px 10.8px 2.2px rgba(73, 73, 73, 0.11);
  background-color: #1b1b1b;
  border-radius: 50%;
}
.footer .footer-3 .f-3-right .fo-3-box1 ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.footer .footer-3 .f-3-right .fo-3-box1 ul li .insta {
  background: url("../images/footer_sns01.png") no-repeat center;
}
.footer .footer-3 .f-3-right .fo-3-box1 ul li .youtube {
  background: url("../images/footer_sns02.png") no-repeat center;
}
.footer .footer-3 .f-3-right .fo-3-box1 ul li .tft {
  background: url("../images/footer_sns03.png") no-repeat center;
}
.footer .footer-3 .f-3-right .fo-3-box2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 355px;
  height: 70px;
  border-radius: 35px;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.36), inset 0px 4px 10.8px 2.2px rgba(73, 73, 73, 0.11);
  background-color: #1b1b1b;
  margin-left: 60px;
  cursor: pointer;
}
.footer .footer-3 .f-3-right .fo-3-box2 .footer-img1 {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  background: url("../images/flag_store.png") no-repeat 20px 50%;
  padding-left: 94px;
  line-height: 70px;
}
.footer .footer-3 .f-3-right .fo-3-box2 .footer-img1 span {
  position: relative;
  display: block;
  width: 130.5px;
  height: 14px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  color: rgba(153, 153, 153, 0.67);
  float: left;
}
.footer .footer-3 .f-3-right .fo-3-box2 .footer-img1 span strong {
  color: rgba(233, 229, 229, 0.67);
}
.footer .footer-3 .f-3-right .fo-3-box2 .footer-img2 {
  width: 10px;
  height: 20px;
  text-align: center;
  margin-right: 30px;
  background: url("../images/select_btn01.png") no-repeat center;
  transform: rotate(-90deg);
}

@media screen and (max-width: 930px) {
  .footer {
    height: 456px !important;
  }
  .footer .footer-3 {
    width: 100%;
    margin: 0 auto;
  }
}/*# sourceMappingURL=main.css.map */