@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Binggrae";
  src: url("font/Binggrae.eot");
  src: url("font/Binggrae.eot?#iefix") format("embedded-opentype"), url("font/Binggrae.woff2") format("woff2"), url("font/Binggrae.woff") format("woff"), url("font/Binggrae.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Binggrae-bold";
  src: url("font/Binggrae-Bold.eot");
  src: url("font/Binggrae-Bold.eot?#iefix") format("embedded-opentype"), url("font/Binggrae-Bold.woff2") format("woff2"), url("font/Binggrae-Bold.woff") format("woff"), url("font/Binggrae-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #1f1f1f;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.09em;
  line-height: 1;
}

/* 공통요소 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner01 {
  position: relative;
  width: 1650px;
  margin: 0 auto;
}

.inner02 {
  position: relative;
  width: 1310px;
  margin: 0 auto;
}

.prev-btn {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("../images/prev_arrow.png") no-repeat;
  width: 7px;
  height: 15px;
  border: none;
}

.next-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("../images/next_arrow.png") no-repeat;
  width: 8px;
  height: 15px;
  border: none;
}

/* 레이아웃 */
.wrap {
  position: relative;
  display: block;
}

/* 타이틀 레이아웃 */
.section-title {
  font-family: "Binggrae-Bold", sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.45;
  letter-spacing: -1.9px;
}

/* 상단 */
/* 비주얼 */
/* 상품 */
.products-inner {
  margin-bottom: 170px;
}
.section-title {
  text-align: center;
  margin-bottom: 40px;
}

.goods-box {
  position: relative;
  margin: 0 auto;
  padding-left: 45px;
}
.goods {
  display: inline-block;
  width: 242px;
  height: 298px;
  margin-right: 16px;
}
.goods:hover > .goods-type-hover {
  display: block;
}
.goods:hover > .goods-type {
  display: none;
}
.goods-img {
  width: 100%;
  padding-bottom: 13px;
  cursor: auto;
}

.goods-type {
  display: inline-block;
  width: 100%;
  height: 43px;
  font-size: 16px;
  letter-spacing: -0.09em;
  line-height: 43px;
  text-align: center;
  background: #f9f9f9;
  border-radius: 21px;
}

.goods-type-hover {
  display: none;
  width: 100%;
  height: 43px;
  font-size: 16px;
  letter-spacing: -0.09em;
  line-height: 43px;
  text-align: center;
  border-radius: 21px;
  background-image: linear-gradient(to top, #ed1c24, #e0462e);
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.03);
  color: #fff;
}

/* 브랜드샵 */
.brand .brand-inner {
  margin-bottom: 170px;
}
.brand .brand-inner .section-title {
  margin-bottom: 40px;
}
.brand .brand-inner .brand-box {
  position: relative;
  padding-left: 45px;
}
.brand .brand-inner .brand-box .brand {
  position: relative;
  display: inline-block;
  width: 242px;
  height: 250px;
  border: 1px solid #edecef;
  border-radius: 30px;
  margin-right: 16px;
}
.brand .brand-inner .brand-box .brand .brand-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* 고객문의 및 불편사항 */
/* 온라인제보 */
/* 하단 *//*# sourceMappingURL=main.css.map */