@mixin red-bt {
  display: block;
  width: 160px;
  height: 43px;
  color: #fff;
  font-size: 14px;
  line-height: 43px;
  text-align: center;
  border-radius: 20px;
  background: #ed1c24;
}

.cs {
  position: relative;
  display: block;
}

.qna-box-wrap {
  .qna-box {
    max-width: 1310px;
    height: 100%;
    padding: 65px 45px;
    border-radius: 30px;
    margin: 0 auto;
    margin-bottom: 135px;
    box-shadow: 0px 5px 24.3px 2.7px rgb(0 0 0 / 9%);
    .qna-top {
      .emali {
        position: relative;
        display: block;
        width: 48.5%;
        height: 325px;
        padding: 55px 45px;
        margin-top: 30px;
        float: left;
        background: #eef8fa url("../images/sec04_backimg01.png") center
          no-repeat;
        background-size: contain;
        border-radius: 30px;
        overflow: hidden;
        cursor: pointer;
        > h4 {
          font-family: "Binggrae-Bold", sans-serif;
          font-size: 32px;
          text-align: center;
          margin-bottom: 40px;
          padding-bottom: 32px;
        }
        > p {
          font-size: 16px;
          line-height: 1.63;
        }
        > a {
          @include red-bt();
          position: absolute;
          bottom: 55px;
          background: #ed1c24;
        }
      }
      .phon {
        font-family: "Binggrae-bold";
        width: 48.5%;
        height: 325px;
        background-color: red;
        padding: 55px 45px;
        margin-top: 30px;
        background: #fdf3f2 url("../images/sec04_backimg02.png") center
          no-repeat;
        background-size: contain;
        float: right;
        border-radius: 30px;
        overflow: hidden;
        > h4 {
          font-family: "Binggrae-Bold", sans-serif;
          font-size: 32px;
          padding-bottom: 32px;
        }
        .p-n {
          display: block;
          font-family: "Binggrae-Bold", sans-serif;
          font-size: 46.5px;
          padding-bottom: 30px;
        }
        .month {
          font-family: "Poppins", sans-serif;
          font-size: 16px;
        }
        .time {
          font-family: "Poppins", sans-serif;
          font-size: 16px;
          margin-left: 15px;
          padding-top: 25px;
          color: #e0462e;
        }
      }
    }
    .qna-bottom {
      .flex-box {
        display: flex;
        justify-content: space-between;
        padding: 47px 0 27px 0;
        > span {
          font-family: "Binggrae-Bold", sans-serif;
          font-size: 23px;
          line-height: 43px;
        }
        .qna-more-bt {
          width: 160px;
          height: 43px;
          background: #fff;
          border: 1px solid #edecef;
          border-radius: 20px;
          &:hover {
            background: #ed1c24;
            color: #fff;
            cursor: pointer;
          }
        }
      }
      .qna-list {
        position: relative;
        > li {
          position: relative;
          width: 48%;
          height: 80px;
          background: yellow;
          padding: 0px 20px;
          margin-bottom: 10px;
          border-radius: 30px;
          background-color: #f9f9f9;
          box-shadow: inset 0px 5px 10px 0 rgb(121 121 121 / 8%);
          cursor: pointer;
          &:nth-child(2n-1) {
            float: left;
          }
          &:nth-child(2n) {
            float: right;
          }
          &:nth-child(5) {
            margin: 0;
          }
          &:nth-child(6) {
            margin: 0;
          }
          > a {
            line-height: 80px;
            &::after {
              content: "";
              position: absolute;
              top: 50%;
              right: 20px;
              transform: translateY(-50%) scale(0);
              transition: transform 0.5s;
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background : {
                image: url(../images/link_arrow01.png);
                repeat: no-repeat;
                color: #ed1c24;
                position: center;
              }
            }
          }
          &:hover a {
            font-weight: bold;
          }
          &:hover a::after {
            transform: translateY(-50%) scale(1);
          }
        }
      }
    }
  }
}
