.fix-menu {
  position: fixed;
  bottom: 58px;
  right: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  .fix-char {
    position: relative;
    > img {
      animation: move 2s infinite ease-in-out;
    }
    > p {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 82px;
      display: none;
      width: 160px;
      height: 45px;
      text-align: center;
      line-height: 45px;
      font-weight: 700;
      border-radius: 22.5px;
      box-shadow: 0px 3px 7px 0 rgb(0 0 0 / 5%);
      background-color: #fff;
    }
  }
  .fix-btn {
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    text-align: center;
    background: #000;
  }

  .fix-btn.not-active {
    background: #000 url("../images/fix_arrow.png") no-repeat;
    background-position: center;
    transform: rotate(180deg);
  }

  .fix-btn.active {
    background: #000 url("../images/fix_arrow.png") no-repeat;
    background-position: center;
  }
  .fix-btn.shop {
    margin: 10px auto 5px 10px;
    background: #fff;
    letter-spacing: normal;
    box-shadow: 0px 3px 8px 1px rgb(0 0 0 / 6%),
      inset 0px 5px 10px 0 rgb(255 255 255 / 14%);
    font-weight: 500;
  }
}

@keyframes move {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0%);
  }
}
