@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Binggrae";
  src: url("font/Binggrae.eot");
  src: url("font/Binggrae.eot?#iefix") format("embedded-opentype"),
    url("font/Binggrae.woff2") format("woff2"),
    url("font/Binggrae.woff") format("woff"),
    url("font/Binggrae.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Binggrae-bold";
  src: url("font/Binggrae-Bold.eot");
  src: url("font/Binggrae-Bold.eot?#iefix") format("embedded-opentype"),
    url("font/Binggrae-Bold.woff2") format("woff2"),
    url("font/Binggrae-Bold.woff") format("woff"),
    url("font/Binggrae-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
