.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  z-index: 9999;
}

.header-wrap {
  position: relative;
  display: block;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: -580px;
    width: 100%;
    height: 580px;
    border-radius: 0 0 50px 50px;
    background: #fff;
  }

  &:hover .depth2 {
    visibility: visible !important;
    opacity: 1 !important;
    transition: all 0.8s 0.5s;
  }

  .header-top {
    position: relative;
    display: block;
    width: 100%;
    height: 30px;
    text-align: right;
    padding: 0 80px;
    border-bottom: 1px solid #e7e7e7;

    a {
      display: inline-block;
      font-size: 14px;
      line-height: 30px;
      margin-left: 10px;

      img {
        margin-left: 5px;
      }
    }
  }

  .header-main {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 115px;
    border-bottom: 1px solid #e7e7e7;
    padding: 40px 80px;

    .logo {
    }

    .nav {
      position: relative;
      margin: 0 auto;
      height: 115px;
      .gnb {
        position: relative;
        display: block;
        .depth1 {
          position: relative;
          float: left;
          text-align: left;
          padding-right: 80px;
          // 포커스 유지
          &:hover > a {
            color: #e0462e;
            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              background: #e0462e;
              width: 100%;
              height: 2px;
            }
            & span::before {
              content: "";
              position: absolute;
              right: -10px;
              top: calc(50% - 10px);
              background: #e0462e;
              width: 5px;
              height: 5px;
              border-radius: 50%;
            }
          }
          > a {
            position: relative;
            padding-bottom: 48px;

            span {
              position: relative;
              line-height: 115px;
              font-size: 20px;
            }
          }
          .depth2 {
            position: absolute;
            display: block;
            visibility: hidden;
            opacity: 0;
            width: 100%;

            li {
              // text-align: center;
              padding: 0 50px 0 0;
              a {
                position: relative;
                display: block;
                font-size: 18px;
                color: #1f1f1f;
                padding: 22px 0 0 0;
                white-space: nowrap;

                span {
                  display: block;
                  position: relative;
                }
                &:hover {
                  color: #e0462e;
                }

                &:hover span::before {
                  content: "";
                  position: absolute;
                  right: -6px;
                  top: 50%;
                  transform: translateY(calc(-50% - 7px));
                  background: #e0462e;
                  width: 5px;
                  height: 5px;
                  border-radius: 50%;
                  display: block;
                }
              }
            }
          }
        }
      }
    }
    .header-help {
      display: flex;
      .header-lang {
        position: relative;
        padding-top: 5px;
        margin-right: 40px;
        .header-language-text {
          font-weight: bold;
          font-size: 16px;
          color: #1f1f1f;
          cursor: pointer;
          img {
            margin-left: 10px;
          }
        }
        .header-list {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 40px;
          text-align: center;
          // display: none;
          background-color: #fff;
          border-radius: 20px;
          padding: 10px 0;
          box-shadow: 0px 3px 7px 0 rgb(0 0 0 / 5%);
          li {
            padding: 0px 13px;
            a {
              display: block;
              font-weight: bold;
              font-size: 16px;
              color: #1f1f1f;
              padding: 5px 0;
            }
          }
        }
      }
      .hamberger {
        position: relative;
        width: 26px;
        height: 22px;
        border: none;
        background: transparent;
        cursor: pointer;

        span {
          position: absolute;
          left: 0;
          width: 100%;
          height: 2px;
          background: #000;
          &:nth-child(1) {
            top: 0;
          }
          &:nth-child(2) {
            top: calc(50% - 1px);
          }
          &:nth-child(3) {
            bottom: 0;
          }
        }
      }
    }
  }
}
