.products {
  @at-root .products-inner {
    margin-bottom: 170px;
    @at-root .section-title {
      text-align: center;
      margin-bottom: 40px;
    }
    @at-root .goods-wrap {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 40px;

      @at-root .goods-box {
        display: block;
        width: calc(100% / 6);
        max-width: 260px;
        text-align: center;
        transition: transform 1s;
        &:hover {
          transform: translateY(-10px);
        }

        &:hover > .goods-type-hover {
          display: inline-block;
        }

        &:hover > .goods-type {
          display: none;
        }
        @at-root .goods-img {
          width: 100%;
          max-width: 242px;
          margin-bottom: 12px;
          cursor: auto;
        }
        @at-root .goods-type {
          display: inline-block;
          width: 100%;
          max-width: 242px;
          height: 43px;
          font-size: 16px;
          letter-spacing: -0.09em;
          line-height: 43px;
          text-align: center;
          background: #f9f9f9;
          border-radius: 21px;
        }

        @at-root .goods-type-hover {
          display: none;
          width: 100%;
          max-width: 242px;
          height: 43px;
          font-size: 16px;
          letter-spacing: -0.09em;
          line-height: 43px;
          text-align: center;
          border-radius: 21px;
          background-image: linear-gradient(to top, #ed1c24, #e0462e);
          box-shadow: inset 0px 5px 10px 0 rgb(121 121 121 / 3%);
          color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 1700px) {
  .goods-wrap {
    width: 95%;
    margin: 0 auto;
  }
  .goods-img,
  .goods-type {
    width: 95%;
  }
}

@media screen and (max-width: 1399px) {
  .goods-img,
  .goods-type {
    width: 93%;
    max-width: 232px;
  }
  .goods-box {
    width: calc(100% / 5);
  }
  .goods-box:last-child {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .goods-img,
  .goods-type {
    width: 91%;
    max-width: 160px;
  }
  .goods-box {
    width: calc(100% / 6);
  }
  .goods-box:last-child {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .prev-btn,
  .next-btn {
    display: none;
  }
  .goods-wrap {
    padding: 0;
  }
}
