.products {
  @at-root .products-inner {
    margin-bottom: 170px;
    @at-root .section-title {
      text-align: center;
      margin-bottom: 40px;
    }
    @at-root .goods-box {
      position: relative;
      margin: 0 auto;
      padding-left: 45px;

      .prev-btn {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url("../images/prev_arrow.png") no-repeat;
        width: 7px;
        height: 15px;
        border: none;
      }

      .next-btn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url("../images/next_arrow.png") no-repeat;
        width: 8px;
        height: 15px;
        border: none;
      }

      @at-root .goods {
        display: inline-block;
        width: 242px;
        height: 298px;
        margin-right: 16px;

        @at-root .goods-img {
          width: 100%;
          padding-bottom: 13px;
        }
        @at-root .goods-type {
          display: inline-block;
          width: 100%;
          height: 43px;
          font-size: 16px;
          letter-spacing: -0.09em;
          line-height: 43px;
          text-align: center;
          background: #f9f9f9;
          border-radius: 21px;
        }
      }
    }
  }
}
