@mixin red-bt {
  display: block;
  width: 160px;
  height: 43px;
  color: #fff;
  font-size: 14px;
  line-height: 43px;
  text-align: center;
  border-radius: 20px;
  background: #ed1c24;
}

h3 {
  text-align: center;
  margin-bottom: 40px;
}
.report-wrap {
  max-width: 1310px;
  margin: 0 auto;
  .cyber {
    position: relative;
    width: 48%;
    height: 230px;
    background: #f9f9f9;
    padding: 78px 25px 58px 25px;
    border-radius: 30px;
    box-shadow: inset 0px 5px 10px 0 rgb(121 121 121 / 8%);
    > p {
      font-size: 20px;
      text-align: center;
    }
    > cyber-bt {
      @include red-bt()
    }
  }
}
