h3 {
  text-align: center;
  margin-bottom: 40px;
}
.report-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1310px;
  margin: 0 auto;
  padding-bottom: 140px;
  .cyber {
    position: relative;
    width: 48%;
    height: 230px;
    background: #f9f9f9;
    padding: 78px 25px 58px 25px;
    border-radius: 30px;
    box-shadow: inset 0px 5px 10px 0 rgb(121 121 121 / 8%);
    > p {
      font-size: 20px;
      text-align: center;
    }
    > a {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 50px;
      @include red-bt();
    }
  }
  .safe {
    position: relative;
    width: 48%;
    height: 230px;
    background: #f9f9f9;
    padding: 78px 25px 58px 25px;
    border-radius: 30px;
    box-shadow: inset 0px 5px 10px 0 rgb(121 121 121 / 8%);
    > p {
      font-size: 20px;
      text-align: center;
    }
    > a {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 50px;
      @include red-bt();
    }
  }
}

@media screen and (max-width: 1400px) {
  .report-wrap {
    width: 95%;
  }
}

@media screen and (max-width: 1270px) {
  .cyber > p {
    font-size: 16px !important;
  }
  .safe > p {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 1020px) {
  a {
    bottom: 30px !important;
  }
}
@media screen and (max-width: 768px) {
  .report-wrap {
    flex-wrap: wrap !important;
    padding-bottom: 80px !important;
    .cyber {
      width: 100% !important;
      margin-bottom: 10px !important;
    }
    .safe {
      width: 100% !important;
    }
  }
}
